@import "tailwindcss";

@theme {
  --color-primary: #90AB8B;
  --color-primary-light: #EBF4DD;
  --color-primary-dark: #5A7863;
  --color-primary-darker: #3B4953;
}

/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
} 

... rest of the file ...
*/